<%= stylesheet_link_tag "map" %>

<script type='text/javascript'>
function swap(target, fname) {
	document[target].src = fname;
}
</script>

<script src="http://maps.google.com/maps?file=api&v=2&key=<%= GeoKit::Geocoders::google %>" type="text/javascript"></script>
<script type="text/javascript">
    function createMarker(point) {
        var marker = new GMarker(point);
				return marker;
    }

		var map;
		var mapControl;
		var directionsPanel;
		var directions;
		var point;
		var marker;
		
		function initialize() {
        if (GBrowserIsCompatible()) {      
						map = new GMap2(document.getElementById("map"), { size: new GSize(300,200) } );
						mapControl = new GMapTypeControl();
						map.setCenter(new GLatLng(<%= @property.lat %>,<%= @property.lng %>), 14);
						directions = new GDirections(map, document.getElementById("route"));
				    GEvent.addListener(directions, "load", onGDirectionsLoad);
				    GEvent.addListener(directions, "error", handleErrors);
				}
				
				point = new GPoint(<%= @property[:lng] %>,<%= @property[:lat] %>);
				marker = createMarker(point);
				map.addOverlay(marker);
    }

   	function setDirections(fromAddress, toAddress) {
		    directions.load("from: " + fromAddress + " to: " + toAddress);
		}
		
		function handleErrors(){
			   if (directions.getStatus().code == G_GEO_UNKNOWN_ADDRESS)
			     alert("No corresponding geographic location could be found for one of the specified addresses. This may be due to the fact that the address is relatively new, or it may be incorrect.\nError code: " + directions.getStatus().code);
			   else if (directions.getStatus().code == G_GEO_SERVER_ERROR)
			     alert("A geocoding or directions request could not be successfully processed, yet the exact reason for the failure is not known.\n Error code: " + directions.getStatus().code);

			   else if (directions.getStatus().code == G_GEO_MISSING_QUERY)
			     alert("The HTTP q parameter was either missing or had no value. For geocoder requests, this means that an empty address was specified as input. For directions requests, this means that no query was specified in the input.\n Error code: " + directions.getStatus().code);

			//   else if (directions.getStatus().code == G_UNAVAILABLE_ADDRESS)  <--- Doc bug... this is either not defined, or Doc is wrong
			//     alert("The geocode for the given address or the route for the given directions query cannot be returned due to legal or contractual reasons.\n Error code: " + directions.getStatus().code);

			   else if (directions.getStatus().code == G_GEO_BAD_KEY)
			     alert("The given key is either invalid or does not match the domain for which it was given. \n Error code: " + directions.getStatus().code);

			   else if (directions.getStatus().code == G_GEO_BAD_REQUEST)
			     alert("A directions request could not be successfully parsed.\n Error code: " + directions.getStatus().code);

			   else alert("An unknown error occurred.");

			}

			function onGDirectionsLoad(){ 
		      // Use this function to access information about the latest load()
		      // results.

		      // e.g.
		      // document.getElementById("getStatus").innerHTML = gdir.getStatus().code;
			  // and yada yada yada...
			}
</script>

<%= stylesheet_link_tag "public" %>

<div id="container">
	<div id="top_row">
		<%= h @property.address %><br />			
	</div>
	
	<div style="clear:both"></div>
	
	<div id="left_column">
		<% if @property.no_photos? %>
			<div class="img-shadow">
				<%= image_tag '../images/public/nophoto.jpg' %>
			</div>
		<% else %>
			<div class="img-shadow">
				<img id="main_image" name='large' src="<%= @photos[0].item.url(:public) %>">
			</div>
			<% @photos.each do |photo| %>
				<a href="#" onClick="swap('large', '<%= photo.item.url(:public) %>');return false;"><img id="thumbnail" name='none' src="<%= photo.item.url(:mini) %>" title="<%= h photo.caption %>"></a>
			<% end %>
		<% end %>
	</div>
	
	<div id="right_column">
		<div id="heading" class="p-shadow"><p>Info</p></div>
		<p>
			<% if @property.rental? %>
				<b>Rent:</b> <%= h number_to_currency(@property.monthly_rent) %><br />
				<b>Security Deposit:</b> <%= h number_to_currency(@property.deposit) %><br />
			<% elsif @property.sale? %>
				<b>MLS&nbsp;#:</b> <%= h @property.mls_number %><br />
				<b>Listing Price:</b> <%= h number_to_currency(@property.listing_price) %><br />
			<% end %>
		</p>			

		<div id="heading" class="p-shadow"><p>Details</p></div>
		<p>
			<b>Available:</b> <%= h @property.available_date.strftime("%B %e, %Y") %><br />
		</p>
		<p>
			<b>Bedrooms:</b> <%= h @property.number_beds %><br />
			<b>Bathrooms:</b> <%= h @property.number_baths %><br />
		</p>
		
		<% if @property.square_feet != nil %>
		<p>
				<b>Square Feet:</b> <%= h @property.square_feet %><br />
		</p>
		<% end %>
		
		<div id="heading" class="p-shadow"><p>Description</p></div><br />
			<div id="description">
			<p>
				<% if @property.full_description.nil? %>
					None Available
				<% else %>
					<%= @property.full_description %>
				<% end %>
			</p>
			</div>
			
		<div id="heading" class="p-shadow"><p>Additional Features</p></div><br />
		<p>
			<% if @property.yard %>&raquo; Yard<br /><% end %>
			<% if @property.laundry %>&raquo; Laundry<br /><% end %>
			<% if @property.garage %>&raquo; Garage<br /><% end %>
		</p>
		
		<div id="heading" class="p-shadow"><p>Map & Directions</p></div><br />
		<p>
			<div id="map"></div>
			
			<!--div id="directions">
				<form action="#" onsubmit="setDirections(this.from.value, this.to.value); return false">
					From:<input type="text" size="25" id="fromAddress" name="from" value="Davis, CA"/>
					<input type="hidden" id="toAddress" name="to" value="<%= h @property.street_address %> <%= h @property.unit_number %>, <%= h @property.city %>, <%= h @property.state %>">
					<input name="submit" type="submit" value="Get Directions" />
				</form>
			</div --!>
			
			<div id="route"></div>				
		</p>
	</div>
	
	<div style="clear:both"></div>
</div>
<div style="clear:both"></div>



