<script type='text/javascript'>
function swap(target, fname) {
	document[target].src = fname;
}
</script>

<script src="http://maps.google.com/maps?file=api&v=2&key=<%= GeoKit::Geocoders::google %>" type="text/javascript"></script>
<script type="text/javascript">
    function createMarker(point,html) {
        var marker = new GMarker(point);
        GEvent.addListener(marker, "click", function() {
         marker.openInfoWindowHtml(html);
         });
        return marker;
    }

    function initialize() {
        var map = new GMap2(document.getElementById("map"),
				  { size: new GSize(300,200) } );
				map.setCenter(new GLatLng(<%= @property.lat %>,<%= @property.lng %>), 14);
				var mapControl = new GMapTypeControl();
				
				var point = new GPoint(<%= @property[:lng] %>,<%= @property[:lat] %>);
				var marker = createMarker(point, 
												'<div></div>')
				map.addOverlay(marker);
    }    
</script>

<%= stylesheet_link_tag "public" %>

<div id="container">
	<div id="top_row">
		<%= h @property.address %><br />			
	</div>
	
	<div style="clear:both"></div>
	
	<div id="left_column">
		<% if @property.no_photos? %>
			<div class="img-shadow">
				<%= image_tag '../images/public/nophoto.jpg' %>
			</div>
		<% else %>
			<div class="img-shadow">
				<img id="main_image" name='large' src="<%= @photos[0].item.url(:public) %>">
			</div>
			<% @photos.each do |photo| %>
				<a href="#" onClick="swap('large', '<%= photo.item.url(:public) %>');return false;"><img id="thumbnail" name='none' src="<%= photo.item.url(:mini) %>" title="<%= h photo.caption %>"></a>
			<% end %>
		<% end %>
	</div>
	
	<div id="right_column">
		<div id="heading" class="p-shadow"><p>Info</p></div>
		<p>
			<% if @property.rental? %>
				<b>Rent:</b> <%= h number_to_currency(@property.monthly_rent) %><br />
				<b>Security Deposit:</b> <%= h number_to_currency(@property.deposit) %><br />
			<% elsif @property.sale? %>
				<b>MLS #:</b> <%= h @property.mls_number %><br />
				<b>List Price:</b> <%= h number_to_currency(@property.listing_price) %><br />
			<% end %>
		</p>			

		<div id="heading" class="p-shadow"><p>Details</p></div>
		<p>
			<b>Available:</b> <%= h @property.available_date.strftime("%B %e, %Y") %><br />
		</p>
		<p>
			<b>Bedrooms:</b> <%= h @property.number_beds %><br />
			<b>Bathrooms:</b> <%= h @property.number_baths %><br />
		</p>
		
		<% if @property.square_feet != nil %>
		<p>
				<b>Square Feet:</b> <%= h @property.square_feet %><br />
		</p>
		<% end %>
		
		<div id="heading" class="p-shadow"><p>Description</p></div><br />
			<div id="description">
			<p>
				<% if @property.full_description.nil? %>
					None Available
				<% else %>
					<%= h @property.full_description %>
				<% end %>
			</p>
			</div>
			
		<div id="heading" class="p-shadow"><p>Additional Features</p></div><br />
		<p>
			<% if @property.yard %>&raquo; Yard<br /><% end %>
			<% if @property.laundry %>&raquo; Laundry<br /><% end %>
			<% if @property.garage %>&raquo; Garage<br /><% end %>
		</p>
		
		<div id="heading" class="p-shadow"><p>Map & Directions</p></div><br />
		<p>
			<div id="map"></div>
		</p>
	</div>
	
	<div style="clear:both"></div>
</div>
<div style="clear:both"></div>



